{{define "group_category_node.html"}}
<details class="group-category-details" open>
    <summary>
        <svg class="chevron" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"><path d="M9 18l6-6-6-6"/></svg>
        <span class="group-category-name">{{.Category.Name}}</span>
    </summary>
    <div class="group-category-children">
        {{range .Children}}{{template "group_category_node.html" .}}{{end}}
        {{range .Groups}}{{template "group_row.html" .}}{{end}}
    </div>
</details>
{{end}}
